provider "aws" {
	region              = "eu-west-1"
	access_key          = "XXXXXXXXXXXXXXXXXXXX"
	secret_key          = "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
}

variable "static_ssh" {
	default       = {
		pub        = "path/to/key.pub"
		priv       = "path/to/ket.priv"
	}
}
